/* CSS by Douglas Perry*/

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus {
  left: 1rem;
  top: 1rem;
  width: auto;
  height: auto;
  padding: .5rem 1rem;
  background: var(--news-flash);
  color: white;
  z-index: 999;
}


/* ///ADD/// Navigation Styles */
.menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: var(--blue-bulletin);
  padding: 1rem;
}


#menu-toggle:checked + .menu-button + .menu {
  display: grid;
}

#menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.menu-button {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--news-flash);
  padding: .5rem 1rem;
}


nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--blue-bulletin);
}

nav li {
  list-style: none;
}

nav a, nav h2 {
  color: var(--watchdog-white);
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}
nav a:hover, nav h2:hover {
  color:var(--news-flash);
}
/* ///ADD/// Global Layout Styles */
header, footer {
  background-color: var(--watchdog-white);
  width: 100%;
  
}
header {
  border-bottom: 3px solid var(--blue-bulletin);
  padding: 2rem 2rem; 
}

header nav {
  padding: 0;
 
}

body{
	box-sizing: border-box;
	line-height: 1.35;
	font-family: var(--font-body);
  margin: 0;
  background: var(--watchdog-white);
 
}

main p {
  margin: 0 0 0.5rem 0;
  text-align: left;
}

main section {
  margin: 0 auto;
}

.tagline {
  text-align: center;
  font-weight: bold;
  color: var(--truth-text);
}

.intro {
  max-width:700px;
  margin: 2rem auto;
  text-align: center;
}

blockquote{
  text-align: center;
  font-weight: bold;
  color: var(--truth-text);
}
.breaking-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto 3rem auto;
}

.content {
  background: var(--news-flash);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.35);
}

.content h3 {
  font-size: 1.1rem;
  color: white;
  margin-bottom: .5rem;
}

.content p {
  color: white;
  margin-bottom: 1rem;
}

.content video {
  width: 100%;
  border-radius: 3px;
}

#f-articles {
  margin: 3rem auto;
  max-width: 1100px;
}

#f-articles .articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

section {
  display: grid;
  border: 1px solid var(--truth-text);
  padding: 1rem;
  margin: 0.5rem;
  background: var(--watchdog-white);
} 


/* ///ADD/// Global Text Styles */
h1, h2, h3{
	font-weight: bold;
	text-align: center;
	margin: 1rem 0;
  font-family: var(--font-heading);
  color: var(--truth-text);
}

h1{
	font-size: 2rem;
  color: var(--blue-bulletin);
}

h2{
	font-size: 1.5rem;
  color: var(--news-flash);
  margin: 0.8rem;
}

h3{
  font-size: 1rem;
  color: var(--story-subtitle);
}

p {
  color: var(--truth-text);
  font-family:var(--font-body);
  font-size: 1em;
  line-height: 1.5em;
}


form{
	width: 90%;
	max-width: 350px;
	margin:  2em auto;
	padding:  0.75em;
	border: 2px solid #777;
	border-radius: 0.2em;
}

input, label, textarea{
	display: block;
	width: calc(100% - 2em);
}

input, textarea, select{
	outline: 1px solid #222;
	border: none;
	border-radius: 0.2em;
}

label{
	font-size: 1.1em;
}

.required{
	color: #c71819;
}

input{
	width: 90%;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
}

input[type="submit"] {
  color: var(--white);
  background-color: var(--blue-bulletin);
  font-weight: 700;
  padding: 16px 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 22px rgba(0, 0, 0, 0.25);
  display: block;
}

input:focus, select:focus, textarea:focus{
	border: 2px inset #0a58ff;
	box-shadow: 0 0 0 0.09em currentColor;
}

input:error, select:error, textarea:error{
	background-color: #c71819;
}

fieldset{
	margin: 0.5em auto;
	padding-bottom: 0.5em;
	width: 94%;
	border: 1px solid #222;
	border-radius: 0.2em;
	display: grid;
	grid-template-columns: 30px 1fr 30px 1fr;
}

legend{
	padding: 0.5em;
}

fieldset label{
	display: inline;
	width: 60%;
}

fieldset input{
	display: inline;
	width: 20px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}


/* ///ADD/// medium styles 620px */
@media (min-width: 620px) {
  .intro {
    max-width: 80%;
  }
  .breaking-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  #f-articles .articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .newsletter {
    max-width: 600px;
  }
}
  

/* ///ADD/// large styles 920px */
@media (min-width: 920px) {
  .mobile-nav { display: none; }
  .desktop-nav { display: block; }
  header .header-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  
  .intro {
    max-width: 900px;
    text-align: center;
  }
  
  .breaking-grid {
    max-width: 1100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
  }
  
  #f-articles .articles-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .newsletter {
    max-width: 1100px;
    background: var(--news-flash);
    padding: 2rem;
    border-radius: 4px;
    border: none;
  }
  
  .newsletter label {
    margin-top: 1rem;
    color: white;
  }

  .newsletter input {
    width: 100%;
  }

  footer .social-grid {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

/* ///ADD/// x-large styles 1024px */

@media (min-width: 1024px) {
  header {
    padding: 3rem 4rem;
  }
  
  .breaking-grid {
    gap: 3rem;
    max-width: 1200px;
  }
  
  #f-articles .articles-grid {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .newsletter {
    max-width: 1200px;
    padding: 2.5rem;
  }
  
  .banner {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }

  header, footer {
    background-color: var(--blue-bulletin);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  nav:has(#menu-toggle:checked) {
    background-color: var(--blue-bulletin);
    border-bottom: 4px solid var(--news-flash);
  }
  nav:has(#menu-toggle:checked) .menu {
    display: grid;
    gap: 1rem;
  }
}